# Python ka chilla with baba aammar
## How to use jupyter note book
### Basics of python

### **01A_1.1_First line code** ###

In [1]:
print(2+3)
print("hellow world")
print("we are learning python with ammar")
print(2+3)
print("Allah, Muhammad SAW")

5
hellow world
we are learning python with ammar
5
Allah, Muhammad SAW

### 02A_2.2_Operators ###

In [2]:
print(2+1)
print(3-1)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(2**3)
print(3**2/2*3/3+6-4) 
print(3**3)

3
2
3.0
6
1
3
8
6.5
27

***PEMDAS
Paranthesis, Exponents, Multiply, Divide, addition, substraction
sequence for multiplication, division, addition and substraction will be from left to right
double star is used for power***

### 03A_2.3_Strings ###

In [3]:
print("Hellow world")
print("we are learning with ammar")
print('Test for single quotes')
print("test for double quotes")
print('''test for tripple quotes''')
print("what's up?")

Hellow world
we are learning with ammar
Test for single quotes
test for double quotes
test for tripple quotes
what's up?

### 04A_2.4_Comments (cntrl+/) ###

In [4]:
print("how are you?")                # make it coment, (ctrl+/)
print("We are learning with Ammar")  # print the string
print(2+3)                           # run the operator with addition

how are you?
We are learning with Ammar
5

### 05A_2.5_Variables ###

In [5]:
# #Variables: Objects containing specific values
x= 5 # Numeric varible
print(x)
y= "We are learning python with Ammar" # string variable
print(y)
x=x+10 # or x=15
print(x)

5
We are learning python with Ammar
15

*Types/class of variables*

In [6]:
print(type(x))
print(type(y))
# further details
fruit_baskit="mangoes"
print(fruit_baskit)
#---
fruit_baskit="mangoes, oranges"
print(type(fruit_baskit))
print(fruit_baskit)
# #---
fruit_baskit=8
print(fruit_baskit)
print(type(fruit_baskit))
print (fruit_baskit)

<class 'int'>
<class 'str'>
mangoes
<class 'str'>
mangoes, oranges
8
<class 'int'>
8

### 06A_2.6_Input function ###

In [7]:
#input funstion simple
fruit_baskit=input("what is your favourit? ")
print(fruit_baskit)

what is your favourit? applles
applles

*input function 2nd stage*

In [8]:
name=input("What is your name? ") # The input function is used to ask some informatin from the user.
greetings="Hello!"
print (greetings, name)

#2nd way of "input function 2nd stage"
name = input("what is your name? ")
print ("Hello!", name)

What is your name? zia
Hello! zia
what is your name? zia
Hello! zia

*3rd stage of input function*

In [9]:
name=input("What is your name? ")
age=input("How old are you? ")
greetings= "Hello dear"
print (greetings, name, ", Amazing! you are still quite young")

What is your name? zia
How old are you? 23
Hello dear zia , Amazing! you are still quite young

### 07A_2.7_conditional logical operator ###

*comments*

In [10]:
#logical operators are either "true or false" or "yes or no" or "0 or 1"
# equal to                     ==
# not equal to                 !=
# less than                    <
# greater than                 >
# less than and equal to       <=
# greater than and equal to    >=

*Is 4 equal to 4?*

In [11]:
print (4==4)
print (4!=4)
print (4>3)
print (3<4)
print (3>6)
print (3<=5)
print (5>=4)

True
False
True
True
False
True
True

*application of logical operators*

In [12]:
hammad_age=6
age_at_school=5
print(hammad_age>=age_at_school)

True

*input function and logical operator*

In [13]:
age_at_school=5
applicant_age = input ("what is the age of applicant? ") # input function is used for asking some infomation
# from user.
print(type(applicant_age))
applicant_age=int(applicant_age)
print(type(applicant_age))
print(applicant_age==age_at_school) #logical operator

what is the age of applicant? 7
<class 'str'>
<class 'int'>
False

### 08A_2.8_Types conversion ###

In [14]:
x=7                # int
y=10.2             # float
z="Hellow"         # str
print(type(x))
print(type(y))
print(type(z))

# # implicit type conversion

x=x+y
print(x, ", Type of x :", type(x))

<class 'int'>
<class 'float'>
<class 'str'>
17.2 , Type of x : <class 'float'>

In [15]:
# explicit type conversion
age=input("what is your age? ")
print(age, type(age))
age=int(age)
print(type(int(age)))

what is your age? 31
31 <class 'str'>
<class 'int'>

### 09A_2.9_if, elsif, else ###

In [16]:
applicant_age=6
required_age_at_school=5
if applicant_age==required_age_at_school:
    print("Congratulation! Applicant eligible")
elif applicant_age>required_age_at_school:
    print("Not eligible, Recomended to join high school")
elif applicant_age<=3:
    print("not eligible, still baby")
else:
    print("Not eligible")

Not eligible, Recomended to join high school

*use input function to ask the age from user user*

In [17]:
required_age_at_school=5
applicant_age=input("what is the age of the applicant? ")
applicant_age=int(applicant_age)

# # question: Is hammad eligible for school admission

if applicant_age==required_age_at_school:
    print("Congratulation! Applicant eligible")
elif applicant_age>=6:
    print("Not eligible, Recomended to join high school")
elif applicant_age<=3:
    print("not eligible, still baby")
else:
    print("Not eligible")

what is the age of the applicant? 4
Not eligible

### 10A_2.10_function define ###

*defining a function 1st method*

In [18]:
def print_codanic():
    print("Allah, Muhammad SAW")
    print("Allah, Muhammad SAW")
    print("Allah, Muhammad SAW")
    
print_codanic()

Allah, Muhammad SAW
Allah, Muhammad SAW
Allah, Muhammad SAW

*defining function 2nd method*

In [19]:
def print_codanic():                                 # function is defined
    text = "Allah Raheem wa kareem, Muhammad SAW"    # generate string variable named text
    print(text)                                      # print function for printing call of text variable 
    print(text)
    print(text)
    
print_codanic()

Allah Raheem wa kareem, Muhammad SAW
Allah Raheem wa kareem, Muhammad SAW
Allah Raheem wa kareem, Muhammad SAW

*3rd method*

In [20]:
def print_codanic(text):
    print(text)
    print(text)
    print(text)
    
print_codanic("Allah Raheem wa kareem, Muhammad SAW")

Allah Raheem wa kareem, Muhammad SAW
Allah Raheem wa kareem, Muhammad SAW
Allah Raheem wa kareem, Muhammad SAW

*defining a function with if, elif and else statement*

In [21]:
def school_calculator(age):
    if age==5:
        print("Hammad can join the school")
    elif age>5:
        print("hammad should go to higher school")
    else:
        print("hammad still baby")
    
print(school_calculator(3))

hammad still baby
None

*defining a function of future*

In [22]:
def future_age(age):
    new_age=age+20
    return(new_age)

future_predicted_age=future_age(7)
print(future_predicted_age)

27

### 11A_2.11_Loops ###

**while and for loops**

*while loops*

In [23]:
x=0
while (x<5):
    print(x)
    x=x+1

0
1
2
3
4

*for loop*

In [24]:
for x in range (2,7):
    print(x)

2
3
4
5
6

*array*

In [25]:
days=["monday", "tuesday", "wednesday","thursday", "friday", "saturday"]
for d in days:
    if (d=="friday"): break

    print(d)

monday
tuesday
wednesday
thursday

In [26]:
days=["monday", "tuesday", "wednesday","thursday", "friday", "saturday"]
for d in days:
    if (d=="wednesday"): continue
        
    print(d)

monday
tuesday
thursday
friday
saturday

### 12A_2.12_import_liberary ###

In [27]:
# if I want to import the value of pi:
import math
print("The value of Pi:", math.pi)

The value of Pi: 3.141592653589793

In [28]:
import statistics
x=[2, 3, 4, 5]
print("the mean:", statistics.mean(x))

the mean: 3.5

### 13A_2.13_trouble_shooting ###

In [29]:
#print("Allah") syntax error

# print(25/0) #runtime error (mathematical types of error)


#name= "zia"
# print("Hello "+name) #symentic error (human error, most dfficult)